.cartscreen {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
}

.cartscreen h2 {
  margin-bottom: 1rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.cartscreen__right {
  margin-top: 68px;
  flex: 0.3;
  background: #fff;
  height: fit-content;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartscreen__info p {
  padding: 2px;
}

.cartscreen__info p:first-child {
  font-weight: bold;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__right div .button1 {
  padding: 10px 17px;
  width: 100%;
  background: #00da7e;
  color: #f4f4f4;
  border: 1px solid #00da7e;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 400;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cartscreen__right div .button1:hover {
  opacity: 0.9;
}

.cartscreen__right div .button2 {
  padding: 10px 17px;
  width: 100%;
  background: #00cff4;
  color: #f4f4f4;
  border: 1px solid #00cff4;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 400;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cartscreen__right div .button2:hover {
  opacity: 0.9;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}
