@media (min-width: 768px) {
    .h-md-100 {
        height: 45vmax;
    }
}


#card {
    width: 600px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 0.8em;
}

#hclass{
   margin-top: 40px;
}

#btnnext{
    position: absolute;
}